register.razumau.net {
    @notStatic {
    	not file
    }

    root * /home/deploy/register/public

    file_server
    encode zstd gzip
    reverse_proxy @notStatic unix//home/deploy/puma.sock

    log {
    	output file /var/log/access.log {
    		roll_size 1gb
    		roll_keep 5
    	}
    }
}

www.register.razumau.net {
	redir https://register.razumau.net{uri}
}